.realTimeDataCard{
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: 99.5%;
  height: 20%;
  border:1px solid #23426b ;
  background-color: rgba(37, 64, 106,.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .cardLeft{
    width: 45%;
    height: 100%;
    color: #fff;
    padding: 20px 40px;
    h3{
      font-size: 22px;
      font-weight: 500;
    }
    p{
      font-size: 17px;
      margin-top: 10px;
    }
    ul{
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-between;
      align-items: center;
      li{
        width: 33%;
        font-size: 15px;
        margin-top: 10px;
      }
      .active{
        color: #01dbe3;
      }
    }
  }
  .cardRight{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
  }
}