.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .lllegalData,.policeDistribution,.interProvincialData{
    position: relative;;
    width: 100%;
    height: 33%;
  }
}